@model theforum.ViewModels.ForumViewModel
@using theforum.Views.Home

@{ ViewBag.Title = @Model.Resources.Title; }

@section scripts
{
    <script type="text/javascript">
        $(() => @IndexExtensions.CreateKoViewModelAndBindToDom(Model));
    </script>

    <script id="replyTemplate" type="text/html">
        <div class="row">
            <div class="col-xs-1 no-wrap">
            </div>
            <div class="col-xs-6">
                <div class="truncate-header">
                    <!-- ko foreach: treeRow -->
                    <div class="post-square-2">
                        <div class="post-square-2-inner">
                            <!-- ko if: $index() === $parent.treeRow().length - 1 -->
                            <div class="tree-line-horizontal"></div>
                            <div class="tree-line-vertical-half"></div>
                            <div class="tree-selected" data-bind="visible: $parent.isSelected"></div>
                            <!-- /ko -->
                            <div class="tree-line-vertical" data-bind="visible: !$data"></div>
                        </div>
                    </div>
                    <!-- /ko -->
                    <div class="post-square-2"></div>
                    <a class="link-text" data-bind="attr: { href: url }, text: title, click: $root.selectPost"></a>
                </div>
            </div>
            <div class="col-xs-2">
                <span class="thread-header-text truncate-header" data-bind="text: postedByUsername"></span>
            </div>
            <div class="col-xs-2 col-xs-offset-1">
                <span class="thread-header-text truncate-header" data-bind="text: createdDayTimeString"></span>
            </div>
        </div>
        <!-- ko template: { name: 'replyTemplate', foreach: replies } -->
        <!-- /ko -->
    </script>
}

<div id="@IndexExtensions.ForumId" class="row" style="display: none" data-bind="visible: isLoaded">
    <div class="col-xs-12" data-bind="visible: getThreadsError() || getRepliesError() || logoutError()">
        <p data-bind="visible: getThreadsError" class="alert forum-warning">
            <span data-bind="text: getThreadsError"></span> @Model.Resources.GetThreadsError
            <span class="pull-right dismiss-error-button" data-bind="click: dismissThreadsError">
                &#x2715;
            </span>
        </p>
        <p data-bind="visible: getRepliesError" class="alert forum-warning">
            <span data-bind="text:getRepliesError"></span> @Model.Resources.GetRepliesError
            <span class="pull-right dismiss-error-button" data-bind="click: dismissRepliesError">
                &#x2715;
            </span>
        </p>
        <p data-bind="visible: logoutError" class="alert forum-warning">
            <span data-bind="text:logoutError"></span> @Model.Resources.LogOutError
            <span class="pull-right dismiss-error-button" data-bind="click: dismissLogoutError">
                &#x2715;
            </span>
        </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div data-bind="if: !isShowingNewPostForm() && !isShowingNewAccountForm() && !isShowingPasswordResetForm() && !isShowingUpdatePasswordForm()">
            <div data-bind="if: selectedPost">
                <div data-bind="with: selectedPost" class="post-container">
                    <div class="post-title" data-bind="text: title">
                    </div>
                    <div class="post-body">
                        <div class="post-body-notch-top"></div>
                        <div class="post-author">
                            @Model.Resources.PostedBy
                            <a class="link-text" data-bind="text: postedByUsername, attr: { href: mailtoUrl }"></a>, @Model.Resources.At
                            <span data-bind="text: createdTimeString"></span> @Model.Resources.On
                            <span data-bind="text: createdDateString"></span>
                        </div>
                        <div class="post-message" data-bind="text: message, linkify: { className: 'link-text'}">
                        </div>
                        <div class="post-reply-button">
                            <span class="link-text" data-bind="click: $root.showReplyForm">@Model.Resources.Reply</span>
                        </div>
                    </div>
                    <div class="post-body-notch-bottom"></div>
                </div>
            </div>
            <div data-bind="if: !selectedPost() && !isShowingRegistrationSuccess() && !isShowingPasswordResetForm() && !isShowingUpdatePasswordForm()">
                <div class="post-container">
                    <div class="post-title">
                        @Model.Resources.WelcomeSubject
                    </div>
                    <div class="post-body">
                        <div class="post-body-notch-top"></div>
                        <div class="post-author">
                            @Model.Resources.PostedBy <span class="link-text">@Model.Resources.WelcomeAccountName</span>, @Model.Resources.On @Model.Resources.WelcomeDateTime
                        </div>
                        <div class="post-message">@Model.Resources.WelcomeMessage</div>
                    </div>
                    <div class="post-body-notch-bottom"></div>
                </div>
            </div>
            <div data-bind="if: isShowingRegistrationSuccess">
                <div class="post-container">
                    <div class="post-title">
                        @Model.Resources.UserAccountCreated
                    </div>
                    <div class="post-body">
                        <div class="post-body-notch-top"></div>
                        <div class="post-author">
                            @Model.Resources.PostedBy <span class="link-text">@Model.Resources.AdminAccountName</span>, @Model.Resources.On @Model.Resources.WelcomeDateTime
                        </div>
                        <div class="post-message">@Model.Resources.ActivationEmailMessage</div>
                    </div>
                    <div class="post-body-notch-bottom"></div>
                </div>
            </div>
        </div>
        <div data-bind="if: isShowingNewPostForm">
            <div class="post-container">
                <div class="post-input-form">
                    <div class="new-post-header">@Model.Resources.NewPost</div>
                    <div class="alert forum-warning" data-bind="visible: postMessageError">
                        <p data-bind="text: postMessageError"></p>
                    </div>
                    <div data-bind="if: isLoggedIn">
                        <div class="new-post-logged-in-message">@Model.Resources.LoggedInAs
                            <strong data-bind="text: loggedInAsUsername"></strong>
                        </div>
                    </div>
                    <div data-bind="if: !isLoggedIn()">
                        <div class="post-label">
                            @Model.Resources.Username
                        </div>
                        <input type="text" class="post-input" data-bind="value: username" />
                        <div class="post-label">
                            @Model.Resources.Password
                        </div>
                        <input type="password" class="post-input" data-bind="value: password" />
                    </div>
                    <div class="post-label">
                        @Model.Resources.Subject
                    </div>
                    <input type="text" class="post-input" data-bind="value: newMessageTitle" />
                    <div class="post-label">
                        @Model.Resources.Message
                    </div>
                    <textarea class="post-message-input" data-bind="value: newMessageText"></textarea>
                    <div class="post-reply-button">
                        <a href="#" class="link-text" data-bind="visible: !isPostingMessage(), click: postMessage">
                            @Model.Resources.PostMessage
                        </a>
                        <span class="no-click-text" data-bind="visible: isPostingMessage">
                            @Model.Resources.PostingMessage
                            <a class="glyphicon glyphicon-refresh spinning"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="if: isShowingNewAccountForm">
            <div class="post-container">
                <div class="post-title">
                    @Model.Resources.CreateAccount
                </div>
                <div class="post-input-form">
                    <div class="post-label">
                        @Model.Resources.Username
                    </div>
                    <input type="text" class="post-input" data-bind="value: username" />
                    <div class="post-label">
                        @Model.Resources.Email
                    </div>
                    <input type="text" class="post-input" data-bind="value: emailAddress" />
                    <div class="post-label">
                        @Model.Resources.Password
                    </div>
                    <input type="password" class="post-input" data-bind="value: password" />
                    <div class="post-label">
                        @Model.Resources.ConfirmPassword
                    </div>
                    <input type="password" class="post-input" data-bind="value: passwordConfirm" />
                    <div class="register-user-error" data-bind="visible: registerUserError">
                        <span data-bind="text: registerUserError"></span>
                        <div>@Model.Resources.TryAgain</div>
                    </div>
                    <div class="create-account-button">
                        <a href="#" class="link-text" data-bind="visible: !isCreatingAccount(), click: registerAccount">
                            @Model.Resources.CreateAccount
                        </a>
                        <span class="no-click-text" data-bind="visible: isCreatingAccount">
                            @Model.Resources.CreatingAccount
                            <a class="glyphicon glyphicon-refresh spinning"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="if: isShowingPasswordResetForm">
            <div class="post-container">
                <div class="post-title">
                    @Model.Resources.ResetPassword
                </div>
                <div class="post-input-form">
                    <div>@Model.Resources.ResetPasswordInstructions</div>
                    <div class="post-label">
                        @Model.Resources.Email
                    </div>
                    <input type="text" class="post-input" data-bind="value: emailAddress" />
                    <div class="register-user-error" data-bind="visible: isResetPasswordError">
                        <div>@Model.Resources.EmailNotRecognised</div>
                    </div>
                    <div class="create-account-button">
                        <a href="#" class="link-text reset-password-link" data-bind="visible: !isSendingResetPasswordEmail(), click: sendResetPasswordEmail">@Model.Resources.RequestPasswordReset</a>
                        <a href="#" class="link-text verify-email-password-link" data-bind="visible: !isSendingResetPasswordEmail(), click: skipResetPasswordEmail">@Model.Resources.AlreadyHaveResetCode</a>
                        <span class="no-click-text" data-bind="visible: isSendingResetPasswordEmail">
                            @Model.Resources.VerifyingEmailAddress
                            <a class="glyphicon glyphicon-refresh spinning"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="if: isShowingUpdatePasswordForm">
            <div class="post-container">
                <div class="post-title">
                    @Model.Resources.UpdatePassword
                </div>
                <div class="post-input-form" data-bind="if: !isPasswordUpdateComplete()">
                    <div class="post-label">
                        @Model.Resources.EmailCode
                    </div>
                    <input type="text" class="post-input" data-bind="value: passwordResetCode" />
                    <div class="post-label">
                        @Model.Resources.Password
                    </div>
                    <input type="password" class="post-input" data-bind="value: password" />
                    <div class="post-label">
                        @Model.Resources.ConfirmPassword
                    </div>
                    <input type="password" class="post-input" data-bind="value: passwordConfirm" />
                    <div class="register-user-error" data-bind="visible: passwordUpdateError">
                        <span data-bind="text: passwordUpdateError"></span>
                    </div>
                    <div class="create-account-button">
                        <a href="#" class="link-text" data-bind="visible: !isResettingPassword(), click: resetPassword">@Model.Resources.UpdatePassword</a>
                        <span class="no-click-text" data-bind="visible: isResettingPassword">
                            @Model.Resources.UpdatingPassword
                            <a class="glyphicon glyphicon-refresh spinning"></a>
                        </span>
                    </div>
                </div>
                <div class="post-input-form" data-bind="if: isPasswordUpdateComplete">
                    <div>@Model.Resources.PasswordUpdatedSuccessfully</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9 forum-right-side">
        <div class="top-toolbar row">
            <div class="col-xs-12">
                <span class="link-text" data-bind="visible: !isLoadingThreads(), click: reloadThreads">@Model.Resources.Threads</span> |
                <span class="no-click-text" data-bind="visible: isLoadingThreads, click: reloadThreads">
                    @Model.Resources.LoadingThreads
                    <a class="glyphicon glyphicon-refresh spinning"></a>
                </span>
                <span class="link-text" data-bind="click: showNewThreadForm">@Model.Resources.AddMessage</span> |
                <span class="link-text" data-bind="visible: isLoggedIn, click: logout">@Model.Resources.Logout</span>
                <span class="link-text" data-bind="visible: !isLoggedIn(), click: showNewAccountForm">
                    @Model.Resources.CreateAccount
                </span>
                <!-- ko if: !isLoggedIn() -->
                | <span class="link-text" data-bind="click: showPasswordResetForm">@Model.Resources.ResetPassword</span>
                <!-- /ko -->
                <input class="search-bar" type="text" placeholder="@Model.Resources.SearchBoxPlaceholder" />
            </div>
        </div>
        <div>
            <div class="all-threads-header thread-underline-gold row">
                <div class="col-xs-1 no-wrap">
                    <div class="focus-square-placeholder"></div>
                    <a href="#" class="link-text"
                       data-bind="visible: sortOrder() === theforum.constants.sortOrder.sizeDesc, click: function () { setSortOrder(theforum.constants.sortOrder.size) }">
                        @Model.Resources.Size <span data-bind="visible: sortOrder() === theforum.constants.sortOrder.sizeDesc" class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <a href="#" class="link-text"
                       data-bind="visible: sortOrder() !== theforum.constants.sortOrder.sizeDesc, click: function () { setSortOrder(theforum.constants.sortOrder.sizeDesc) }">
                        @Model.Resources.Size <span data-bind="visible: sortOrder() === theforum.constants.sortOrder.size" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </div>
                <div class="col-xs-6 no-wrap">
                    <div class="post-square"></div>
                    <a href="#" class="link-text"
                       data-bind="visible: sortOrder() === theforum.constants.sortOrder.subjectDesc, click: function () { setSortOrder(theforum.constants.sortOrder.subject) }">
                        @Model.Resources.Subject <span data-bind="visible: sortOrder() === theforum.constants.sortOrder.subjectDesc" class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <a href="#" class="link-text"
                       data-bind="visible: sortOrder() !== theforum.constants.sortOrder.subjectDesc, click: function () { setSortOrder(theforum.constants.sortOrder.subjectDesc) }">
                        @Model.Resources.Subject <span data-bind="visible: sortOrder() === theforum.constants.sortOrder.subject" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </div>
                <div class="col-xs-2 no-wrap">
                    <a href="#" class="link-text"
                       data-bind="visible: sortOrder() === theforum.constants.sortOrder.postedByDesc, click: function () { setSortOrder(theforum.constants.sortOrder.postedBy) }">
                        @Model.Resources.From <span data-bind="visible: sortOrder() === theforum.constants.sortOrder.postedByDesc" class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <a href="#" class="link-text"
                       data-bind="visible: sortOrder() !== theforum.constants.sortOrder.postedByDesc, click: function () { setSortOrder(theforum.constants.sortOrder.postedByDesc) }">
                        @Model.Resources.From <span data-bind="visible: sortOrder() === theforum.constants.sortOrder.postedBy" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </div>
                <div class="col-xs-2 col-xs-offset-1 no-wrap">
                    <a href="#" class="link-text"
                       data-bind="visible: sortOrder() === theforum.constants.sortOrder.dateDesc, click: function () { setSortOrder(theforum.constants.sortOrder.date) }">
                        @Model.Resources.When <span data-bind="visible: sortOrder() === theforum.constants.sortOrder.dateDesc" class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <a href="#" class="link-text"
                       data-bind="visible: sortOrder() !== theforum.constants.sortOrder.dateDesc, click: function () { setSortOrder(theforum.constants.sortOrder.dateDesc) }">
                        @Model.Resources.When <span data-bind="visible: sortOrder() === theforum.constants.sortOrder.date" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                </div>
            </div>
            <!-- Threads -->
            <div data-bind="foreach: threads">
                <div class="thread-header row" data-bind="css: { 'thread-underline' : !isExpanded() }">
                    <div class="col-xs-1 no-wrap">
                        <div class="focus-square"></div>
                        <span class="thread-header-text" data-bind="text: postCount"></span>
                    </div>
                    <div class="col-xs-6">
                        <div class="truncate-header">
                            <div data-bind="css:{ 'selected-post-square' : isSelected, 'post-square' : !isSelected() }"></div>
                            <a class="link-text" data-bind="attr: { href: url }, text: title, click: function () { $parent.expandThread($data) }"></a>
                            <a class="glyphicon glyphicon-refresh spinning" data-bind="visible: $parent.loadingRepliesForThread() === $data"></a>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <span class="thread-header-text truncate-header" data-bind="text: postedByUsername"></span>
                    </div>
                    <div class="col-xs-2 col-xs-offset-1">
                        <span class="thread-header-text truncate-header" data-bind="text: lastPostDateString"></span>
                    </div>
                </div>
                <!-- ko if: isExpanded -->
                <!-- ko template: { name: 'replyTemplate', foreach: replies } -->
                <!-- /ko -->
                <div data-bind="visible: hasReplies " class="thread-underline row"></div>
                <!-- /ko -->
            </div>
            <div class="thread-footer row">
                <div class="col-xs-12">
                    <span class="thread-header-text" data-bind="text: threadPageText"></span>
                    <a href="#" class="link-text" data-bind="visible: pageNumber() > 1, click: goBackAPage"><<</a>
                    <!-- ko foreach: pageNumbers -->
                    <span class="thread-header-text" data-bind="visible: $data === $parent.pageNumber(), text: $data"></span>
                    <a href="#" class="link-text" data-bind="visible: $data !== $parent.pageNumber(), text: $data, click: $parent.loadPage"></a>
                    <!-- /ko -->
                    <a href="#" class="link-text" data-bind="visible: pageNumber() < totalPages(), click: goForwardAPage">>></a>
                </div>
            </div>
        </div>
    </div>
</div>